doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards
            br
            | Feb-2021 and 2 persons from Dec-2020
            br
            |
            a(href="http://example.com") Click here
